<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <servlet>
        <servlet-name>n1</servlet-name>
        <servlet-class>com.technorbit.servlet.DemoServlet</servlet-class>
        <init-param>
        	<param-name>Mobile_no</param-name>
        	<param-value>1234567891</param-value>
        </init-param>
        
    </servlet>
    <servlet-mapping>
        <servlet-name>n1</servlet-name>
        <url-pattern>/xyzurl</url-pattern>
    </servlet-mapping>
</web-app>