<web-app>
  <welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
    <servlet>
        <servlet-name>Marriage</servlet-name>
        <servlet-class>com.technorbit.servlet.MarriageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Marriage</servlet-name>
        <url-pattern>/valid</url-pattern>
    </servlet-mapping>
</web-app>