<web-app>
    <servlet>
        <servlet-name>check</servlet-name>
        <servlet-class>com.technorbit.servlet.MarriageEligibilityCheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>check</servlet-name>
        <url-pattern>/checkurl</url-pattern>
    </servlet-mapping>   
</web-app>