<web-app>
    <servlet>
        <servlet-name>
            date
        </servlet-name>
        <servlet-class>
            com.tot.servlet.DateServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
            date
        </servlet-name>
        <url-pattern>
            /first
        </url-pattern>
    </servlet-mapping>
</web-app>